<div class="container">
	<h3>Welcome to your world</h3>
	<%= link_to "New document", new_document_path %>
	<br>
	<br>  
   
	<div class="row">
 		<% @documents.each do |document| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
        	<%= image_tag (document.attachment.default_url) if document.attachment? %>
          <div class="card-body">
          	<p class="card-text"><%= document.name %></p>
            <p class="card-text"><%= document.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              	<%= link_to "Download", document.attachment_url %>
                <%= link_to "Delete",  document, method: :delete, confirm: "Are you sure you want to delete #{document.name}?" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
	</div>
</div>
